@font-face{
	font-family: "JetBrainsMono";
	src: url(fonts/JetBrainsMonoNL-Bold.ttf) format("truetype");
	font-weight: bold;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrainsMono',sans-serif;	
}
body
{
	min-height: 1000px;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
}
header.sticky
{
	padding: 5px 100px;
	background: #b500fc;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
header .logo
{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
	color: #fff;
}
.banner
{
	position: relative;
	padding: 20px;
	height: 900px;
	background: url(./bg.png);
	background-size: cover;
	display: flex;
	align-items: center;
}
.banner h2
{
	color: #fff;
	padding: 20px;
	font-size: 40px;
	text-transform: uppercase;
	text-align: left;
}
.banner h2 span
{
	padding: 10px;
	color: #b500fc;
}
//color 00fcd2